   <%    
   	 var peopleSearchResultData = [ 
   	 			{   "id"		: "1",
   	 				"user_name" : "Mihika Mishra",
   	 				"position"  : "Software Engineer",
   	 				"org"		: "Langoor",
   	 				"location"  : "Bangalore, Karnataka, India",
   	 				"url"		:  "/profile/view/socialfun",
   	 				"img"		: "http://ekgateway.herokuapp.com/media/images/profile_images/Mihika_JustDial.jpg"
   	 				 
   	 			},
   	 			
   	 			{   "id"		: "2",
   	 				"user_name" : "Capt. Ajay",
   	 				"position"  : "Enterprenuer",
   	 				"org"		: "XYZ",
   	 				"location"  : "Bangalore, Karnataka, India",
   	 				"url"		:  "/profile/view/professional",
   	 				"img"		: "/media/images/profile_images/Capt_Ajay.jpg"
   	 			},
   	 			
   	 			{   "id"		: "3",
   	 				"user_name" : "Abhijit Prusty",
   	 				"position"  : "Software Engineer",
   	 				"org"		: "UST",
   	 				"location"  : "Bangalore, Karnataka, India",
   	 				"url"		:  "/profile/view/lawyer",
   	 				"img"		: "/media/images/profile_images/AbhijitPrusty.jpg"
   	 			},
   	 			
   	 			{   "id"		: "4",
   	 				"user_name" : "Prabal Atreya",
   	 				"position"  : "Sales Adviser",
   	 				"org"		: "IBM",
   	 				"location"  : "Bangalore, Karnataka, India",
   	 				"url"		:  "/profile/view/model",
   	 				"img"		: "/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg"
   	 			} ,  
   	 			
   	 			{   "id"		: "5",   
   	 				"user_name" : "Navin Meshram",
   	 				"position"  : "Senior Software Engineer",
   	 				"org"		: "IBM",
   	 				"location"  : "Pune, Maharashtra, India",
   	 				"url"		:  "/profile/view/model",
   	 				"img"		: "/media/images/profile_images/Navin_Meshram.jpg"
   	 			}  
   	 
   	 ];
     
   
   %>
 	 
   	
	<link rel="stylesheet" href="/styles/profiles/peopleSearchResults.css"/>
		 
	<%
		var perPage = 10;
		var start = 0;
		var end = 3; 
		
	%>
	
	
	
	    
	
	<!-- <div id = CONTAXONOMY style="height: 300px; background-color: red;">
	  
	 
    </div>
	-->
	  
  	<div style = "padding-left: 5px; padding-right: 5px; padding-top: 10px;">
  		<div class = "text-title" style = " display: inline-block; font-size:18px;"><b>5000</b> People found</div>
  		
  		<div style = "display: inline-block; float: right;">
	  		 <div  style = "display: inline-block; margin-right: 15px;  "><a id="" href="#"><img src="/media/images/icons/options-tune-black.png" width="25px" height="25px" /></a></div>	  		
	  		 <div style = "display: inline-block; margin-right: 13px;  "><a id="" href="#"><img src="/media/images/icons/sort-black.png"  width="28px" height="28px"  /></a></div>
	  		 <div  style = "display:inline-block; "><a id="list-view" href="#"><img src="/media/images/icons/list-view.png" width="24px" height="22px"  /></a></div>
  		</div>
  		 <hr />
  	</div>	
  		
  		
	     <!--action bar -->
    <div id="PEOPLE_CONTENT_CONTAINER">
         <!--   <div id="PEOPLE_TOP_ACTIONBAR">
                <table id="PEOPLE_TOP_ACTIONBAR_IMG_CONTAINER">
                
                 <td align="center" valign = middle>   
                    <div  style = "display: inline-block; text-align:center;"><a id="ppl-list-view-bigger-rows" href="#"><img src="/media/images/icons/fiunnel-black.png" width="25px" height="25px" align="right"/></a></div>
                </td>
                <td align="center" valign = middle>   
                    <div style = "display: inline-block; text-align: center;"><a id="grid-view" href="#"><img src="/media/images/icons/sort-black.png"  width="44px" height="28px" align="right" /></a></div>
                </td>
                
                <td align="right" valign = middle>
                    <div  style = "display:inline-block; text-align: left;  margin-right: 5px;"><a id="list-view" href="#">  <img src="/media/images/icons/list-view.png" width="24px" height="22px" align="right"/></a></div>
                </td>
                
               
                   
                </table>
            </div>

			-->
      
            <!--list view -->
            
           
          
            
        <div id="PEOPLE_LIST_VIEW">
        
       
           <% 
             //var clientLocation = "http://ekprofile.herokuapp.com";
             var clientLocation = "http://localhost:5000";
             
			 for(var i = start; i < end ; i++) {
			 	
			 	var searchObj = peopleSearchResultData[i];
			 
			  		   
   	 			
			 %>  
		  
          	 <table width = "100%" border = 0>          	  
			 
			 	 <tr>                
            		<td style = "width: 75px; position: relative;" valign = top >   
            		 
            			<img style= "border-radius : 50%;" src=<%= searchObj.img %> width="70" height="70">
            		  
            			<img style = "position: absolute;  margin-left: auto; margin-right: auto;  right: 3px; top: 57px;" src="/media/images/icons/options.png" width="38" height="38">					            		
            		</td>            		
            		<td id = PAGE_TEXT2 valign = top >
            			<div style = "display: inline-block;">
	            			<!-- <span style= "font-size: 18px;"><a href = <%= searchObj.url %> <font color="#008CC9"><%= searchObj.user_name %></font></a></span><br/> -->
	            			<span style= "font-size: 18px;"><a class = "a-in-body" href = <%= clientLocation %> <%= searchObj.url %>><%= searchObj.user_name %></a></span><br/>
	                        
	                        <span class = "normal-text-black"><%= searchObj.position %><br> at <%= searchObj.org %></span><br/>
	                        <span class = "normal-text-black"><%= searchObj.location %></span>
                        </div>
                        
                        <div id = PEOPLE_RECORD_XTRA_CNT >
                        	   
                        </div>
            		</td>            		
            		<td style = "width: 35px;" align = center valign = middle>		            			 
		                <table>
		                
		                	<tr>
		                		<td align = center valign = top height = 45><img  class = PEOPLE_CONTAXONOMY  src="/media/images/icons/tag-black.png" width= 28 height= 28></td>
		                	</tr>
		                	 
		                	<tr>    
		                		
		                		<td align = center valign = bottom height = 45>
		                			<img  class = PEOPLE_CONTAXONOMY src="/media/images/icons/add-2-contaxonomy-blk.png" width = 30 height = 30>
		                		</td>
		                	</tr>		             
		                	    
		                </table>
            		</td>
            	</tr>   
            	<tr>                
            		<td>&nbsp;</td>            		
            		<td valign = middle align=left>
            			<div onclick = "javascript: uniComposeMsg('<%= searchObj.id %>', '<%= searchObj.user_name %>', 'IM','localCntxt');" class = "msg-this-person" style ="cursor: pointer; background-color: #f2f2f2; color: #696969; text-align:center; border: 1px solid #dcdcdc; border-radius: 3px; width: 150px; height: 28px;">
            				<span ><b>Aak</b></span>&nbsp;<img style ="vertical-align: middle;" src="/media/images/icons/plus-aak-blk.png" width= "26" height= "26">
            			</div>
            		</td>       
            		     		
            		<td></td>
            	</tr>   
              <% 
              } 
              %>
              <tr> 
              		<td>
              			<div id = "BLA"><input type="hidden" class="pagenum" value="" />	 <!-- <input type="hidden" class="rowcount" value="' . $_GET["rowcount"] . '" />'; -->
              			</div> 	
              		</td>	
              </tr>
			 </table>   
			   
			<center>
				 <div style ="background-color: #558ED5; text-align:center; border: 1px solid #dcdcdc; width: 300px; height: 25px; margin-bottom: 5px; margin-top: 5px;">Show more..</div>
			</center>
			 
			 <br/>
			 <br/>
			 <br/>
              
        </div>  
  
          <!--people list view -->

         <div id="PEOPLE_LIST_VIEW_BIGGER_ROWS">
           
        	
            <div id="PEOPLE_FACES5">
                <div style="display:inline-block; vertical-align:top;">
                    <img src="/media/images/profile_images/DebojitSaikia.jpg" width="130" height="130">
                </div>
                <div id="PAGE_TEXT5">
                    <table>
                        <tr><td><font color="blue">Anurag Tiwari</font></td></tr>
                        <tr><td>COO & Co-Founder<br> at <br>wedealnow.com</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka<br>,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES6">
                <div style="display:inline-block; vertical-align:top;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="130" height="130">
                </div>
                <div id="PAGE_TEXT6">
                    <table>
                        <tr><td><font color="blue">Vipin Chand</font></td></tr>
                        <tr><td>Software Engineer<br> at Langoor</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka<br>,India</font></td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES7">
                <div style="display:inline-block; vertical-align:top;">
                    <img src="/media/images/profile_images/Mihika_JustDial.jpg" width="130" height="130">
                </div>
                <div id="PAGE_TEXT7">
                    <table> 
                        <tr><td><font color="blue">Sanat Jain</font></td></tr>
                        <tr><td>Business Analyst at<br> Axtria-Ingenious<br> Insights</font></td></tr>                        
                        <tr><td><font color="grey">India</td></tr>
                    </table>
                </div>
            </div>

            <div id="PEOPLE_FACES8">
                <div style="display:inline-block; vertical-align:top;">
                    <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="130" height="130">
                </div>
                <div id="PAGE_TEXT8">
                    <table> 
                        <tr><td><font color="blue">Deepak Dubey</font></td></tr>
                        <tr><td>Software<br> Development <br>Engineer at Voonik</td></tr>
                        <tr><td><font color="grey">Bengaluru,Karnataka<br>,India</font></td></tr>
                    </table>
                </div>
            </div>

        </div>
 
 
        <!-- grid view -->
        <div id="PEOPLE_GRID_VIEW">
        	
         
        	
            <div id="PEOPLE_GRID_VIEW_ROW1">  

                    <div class="PEOPLE_FACES9_COLUMN1">
                        <div style="display:inline-block; vertical-align:top; margin-top:5px;">
                            <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                        </div>
                        <div id="PAGE_TEXT9">
                            <table>
                                <tr><td>Anurag Tiwari</td></tr>
                                <tr><td>COO & Co-Founder <br>at wedealnow.com</td></tr>
                                <tr><td>Bengaluru,Karnataka,India</td></tr>
                            </table>
                        </div>
                    </div><!--

                    --><div class="PEOPLE_FACES10_COLUMN2">
                        
                        <div style="display:inline-block; vertical-align:top; margin-top:5px;">
                            <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                        </div>
                        <div id="PAGE_TEXT10">
                            <table>
                                <tr><td>Vipin Chand</td></tr>
                                <tr><td>Software Engineer at Langoor</td></tr>
                                <tr><td>Bengaluru,Karnataka,India</td></tr>
                            </table>
                        </div>

                    </div>
            </div>

            <div id="PEOPLE_GRID_VIEW_ROW2">

                <div class="PEOPLE_FACES11_COLUMN3">
                    <div style="display:inline-block; vertical-align:top; margin-top:5px;">
                        <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                    </div>
                    <div id="PAGE_TEXT11">
                        <table> 
                            <tr><td>Sanat Jain</td></tr>
                            <tr><td>Business Analyst at<br> Axtria-Ingenious Insights</td></tr>                        
                            <tr><td>India</td></tr>
                        </table>
                    </div>
                </div><!--

                --><div class="PEOPLE_FACES12_COLUMN4">
               
                    <div style="display:inline-block; vertical-align:top; margin-top:5px;">
                        <img src="/media/images/profile_images/Prabal_Atreya_Sales_Advisor-IBM.jpg" width="200" height="200" style="margin-left:5px;">
                    </div>
                    <div id="PAGE_TEXT12">
                        <table> 
                            <tr><td>Deepak Dubey</td></tr>
                            <tr><td>Software Development Engineer<br> at Voonik</td></tr>
                            <tr><td>Bengaluru,Karnataka,India</td></tr>
                        </table>
                    </div>
                  
                </div>
               
            </div>
            
       </div> 



        <div id="PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE">
          
            <div id="PEOPLE_FACES13">
                
                <img src="/media/images/profile_images/santosh.jpg">

            <!--<div id="PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_TEXTBOX">
               	<table>
               	<tr>
               		<td>
							<font color=white>Focus:</font><br/>
								<font color=white>Patent,</font><br/>
								<font color=white>Licensing,</font><br/>
								<font color=white>Copyright,</font><br/>
								<font color=white>Trademark</font><br/>
               		</td>
               		<td width=6>
									&nbsp;
								</td>							
								<td valign = bottom align=right>
								
									<table>
				  						<tr>
				  							<td valign = top>
				  								<img id="" style = "padding: 0px 5px 10px 0px;"  width = "26" height = "28"  src="/media/location_white.png" />
				  							</td>
				  							<td valign=top>
				  								<font color=white>Saket, Delhi</font>
				  							</td>				  							
				  						</tr>
				  						<tr>
				  							<td valign = top>
				  								<img id="" style = "padding: 0px 5px 10px 0px;" width = "27" height = "30"  src="/media/certification_white.png" /> 
				  							</td>
				  							<td valign=top>
				  								<font color=white>License: 20 years</font>
				  							</td>				  							
				  						</tr>
				  					</table>
								</td>
							</tr>	
							<td valign = top>
  					<table>
  						<tr>
  							<td valign=top width=28>
  								<img id="" style = "padding: 0px 0px 0px 0px;" width = "14" height = "14"  src="/media/org_white.png" /> &nbsp;
  							</td>
  							<td align=left><p><font color=white>Family Court &amp; High Court, Bangalore.Supreme Court, India</font></p></td>
  						</tr>
  					</table>	
				</td>				
               	
               	
             </table>
                </div>
            </div>-->
           
            <div id="PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE_ICON">
                
            </div>
            
        </div> 
       
 </div>
</div>

<!-- PEOPLE_CONTENT_CONTAINER ends -->
        <!-- javascript-->
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> 
     
       
           <script type="text/javascript">
  
           /* New Code Starts*/ 
           
            	$(window).scroll(function(){
            		if($(window).scrollTop() == 0) {
            			//alert("Hello");
            		}
            		
            	});
            	 
          /* New Code Ends */  	
             
          
                $(function() 
                {
                       
                     $("#list-view").on('click', peopleListView);
                                               
                     $("#ppl-list-view-bigger-rows").on('click',peopleListViewBigger);
                            
                     $("#grid-view").on('click',peopleGridView);
                          
                     $("#single_column_one_row_mobile").on('click',peopleSingleColumnMobileView);
                     
                     
                     //CONTAXONOMY
                     $('.PEOPLE_CONTAXONOMY').on('click', function() {
                    	 	 
                    	 loadContaxgonomy(function() {
                    		 showContaxonomyModal('AD_PERSON', "");	
                 			 $('#CONTAXONOMY_MODAL').focus();
                 		 }); //Ajax call    
                    		 
                    	populateContaxonomy();    
                    	 
                     });
                     
                            
                });    
                

                function peopleListView() 
                {
                    
                   $("#PEOPLE_LIST_VIEW").show();  
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                   $("#PEOPLE_GRID_VIEW").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                     
                }

 
                function peopleListViewBigger() 
                { 
                    
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").show();
                   $("#PEOPLE_LIST_VIEW").hide();
                   $("#PEOPLE_GRID_VIEW").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                                         
                }

            
 
                function peopleGridView() 
                {
                
                   $("#PEOPLE_GRID_VIEW").show();
                   $("#PEOPLE_LIST_VIEW").hide();
                   $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                   $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").hide();
                      
                }

             
                function peopleSingleColumnMobileView() 
                {
             
                  $("#PEOPLE_SINGLE_COLUMN_ONE_ROW_MOBILE").show();
                  $("#PEOPLE_LIST_VIEW").hide();
                  $("#PEOPLE_GRID_VIEW").hide();
                  $("#PEOPLE_LIST_VIEW_BIGGER_ROWS").hide();
                     
                }
                
                
                function populateContaxonomy() {
                	
                	 
                	
                }
          
                //alert(window.location.hostname);

            </script>
	