  <script>
  	 
  
  </script>
  
  <% 
  	 var profileJsonData = {
  	 	
  	 	"rating" 			: "500",
  	 	"star" 			 	: "",
  	 	"summary" 			: "",
  	 	"cntxtSummary" 		: "",
  	 	"viewableAspect"	: { 
  	 	
  	 								"AspectStack" : {	"id"	: "PROFILE_ASPECT_STACK", 
			  	 										"tooltip" : "AspectStack",
			  	 										"url" : "/experience123445",
			  	 										 img  : "/media/images/icons/aspect-stack-black-n-wht.png" , 
			  	 										 iw	  : "30",
			  	 										 ih	  : "30"  
			  	 										 
			  	 									},
			  	 									
  	 								"Experience" : {	"id"	: "PROFILE_EXP", 
			  	 										"tooltip" : "Experience",
			  	 										"url" : "/experience",
			  	 										 img  : "/media/images/icons/experience-white.png" , 
			  	 										 iw	  : "28",
			  	 										 ih	  : "24"  
			  	 										 
			  	 									},
  	 								
  	 								"Skills"	: {
		  	 											"id" : "PROFILE_SKILLS",
		  	 											"tooltip" : "Skills",
		  	 											"url" : "/skills",
		  	 											 img  : "/media/images/icons/skills-tools-white.png",
		  	 											 iw	  : "20",
			  	 										 ih	  : "22"  
		  	 								},
		  	 								
		  	 						
  	 								"Education"	: {
		  	 											"id" : "PROFILE_EDUCATION",
		  	 											"tooltip" : "Education",
		  	 											"url" : "/education",
		  	 											 img  : "/media/images/icons/school-white.png",
		  	 											 iw	  : "20",
			  	 										 ih	  : "20"  
		  	 								},
		  	 								
		  	 						"Reviews"	: {
		  	 											"id" : "PROFILE_REVIEWS",
		  	 											"tooltip" : "Reviews",
		  	 											"url" : "/reviews",
		  	 											 img  : "/media/images/icons/thumbs-up-wht.png",
		  	 											 iw	  : "35",
			  	 										 ih	  : "26"  
		  	 								}
  	 								
  	 							 /*		 
  	 								"Interests"	 : {
	  	 											"id" : "PROFILE_INTERESTS",
	  	 											"tooltip" : "Interests",
	  	 											"url" : "/interests",
	  	 											 img  : "/media/images/icons/arrow-head-up-black.png",
	  	 										 	 iw	  : "32",
			  	 									 ih	  : "28"  
  	 									 },
  	 									 
  	 								"Contact"	: { 
	  	 											"id" : "CONTACT_INFO",
	  	 											"tooltip" : "Contact Info",
	  	 											"url" : "/contact",
	  	 											 img  : "/media/images/icons/phn-email-contact-wht.png",
	  	 											 iw	  : "32",
			  	 									 ih	  : "34"  
	  	 								} 
  	 							
  	 							 
  	 								"Causes"	: { 
	  	 											"id" : "PROFILE_CAUSES",
	  	 											"tooltip" : "Causes",
	  	 											"url" : "/causes",
	  	 											 img  : "/media/images/icons/arrow-head-up-black.png",
	  	 											 iw	  : "32",
			  	 									 ih	  : "28"  
	  	 								} 
	  	 						*/
  	 						}
  	 	
  	 };
  
  
  %>
  
  
  
  <style>
  
  	h4 {
  			margin: 0px;
  	}
  	
  </style>
  
  <link href="/styles/profiles/uniProfileProfessional.css" rel="stylesheet" />  
  
   
     
  <div id = PROFILE_HEADER>    
  
  
  		<table width =100% border = 0 height = 100% cellpadding = 0 cellspacing = 0>
  			<tr>
  				<td width=6>
					&nbsp;
				</td>
  				<td>  
  											
						<table border = 0>						
							<tr>
								<td>
									<font color=#C4C435>Focus:</font><br/>
									Patent,<br/>
									Licensing,<br/>
									Copyright,<br/>
									Trademark<br/>
									 
								</td>	
								<td width=6>
									&nbsp;
								</td>							
								<td valign = bottom align=right>
								
									<table>
				  						<tr>
				  							<td valign = top>
				  								<img id="" style = "padding: 0px 5px 10px 0px;"  width = "26" height = "28"  src="/media/location_white.png" />
				  							</td>
				  							<td valign=top>
				  								Saket, Delhi
				  							</td>				  							
				  						</tr>
				  						<tr>
				  							<td valign = top>
				  								<img id="" style = "padding: 0px 5px 10px 0px;" width = "27" height = "30"  src="/media/certification_white.png" /> 
				  							</td>
				  							<td valign=top>
				  								License: 20 years
				  							</td>				  							
				  						</tr>
				  					</table>
								</td>
							</tr>						
						</table>				
  				</td>
  				<td width = 121 height=130 valign=top>
  						 <div style = "padding: 15px 7px 0px 0px;">
  						 	<img id="" style = "border: 1px solid #fff" width = "120"  height= "120"  src="/media/images/profile_images/Anjali_Arora_gurgaon_VLSI.jpg" />
  						 </div>
						 
						 
  				</td>	
  			</tr>
  			<tr>
  				<td width=6>
					&nbsp;
				</td>
  				<td valign = top>
  					<table>
  						<tr>
  							<td valign=top width=28>
  								<img id="" style = "padding: 0px 0px 0px 0px;" width = "14" height = "14"  src="/media/org_white.png" /> &nbsp;
  							</td>
  							<td align=left><p>Family Court &amp; High Court, Bangalore. Supreme Court, India</p></td>
  						</tr>
  					</table>	
				</td>
				<td valign = top align=center width=121>
  					<table width=100%>
  						<tr>
  							<td  align=center><div style = "background-color: #1899C4; font-size: 24px; height: 28px; width: 55px;">***</div></td>
  							<td align=center valign=bottom><div style = "background-color: #000; color: #fff; font-size: 19px; height: 28px; width: 55px;">7.0</div></td>
  						</tr>
  					</table>
  				</td>
			</tr>
  			
  		</table>
  		   
	   	<div id="PROFILE_BACKGROUND_HIDE_ICON" style = "background-color: #696969; display: inline-block; position: absolute; bottom: -68px; right: 0; height: 28px; width: 32px;">   
		  		<img   width = "32" height = "28"  src="/media/images/icons/arrowhead-up-black.png" />	  		 
	  	</div>
  
  	 
  </div>
  

  
  <div id = PROFILE_ACTION_BAR>  	
  	
	  	 <nobr>  
	  		   
	  		 <%	 var viewableAspectObj = profileJsonData.viewableAspect;
	  		 
	  		  	 for (var param in viewableAspectObj) {	
	  		 	 
	  		 	 	if(viewableAspectObj.hasOwnProperty(param))
	  		 	 	{
	  		 	 	  var id = viewableAspectObj[param].id;
	  		 	 	  var tooltip = viewableAspectObj[param].tooltip;
	  		 	 	  var url = viewableAspectObj[param].url;
	  		 	 	  var img = viewableAspectObj[param].img;
	  		 	 	  var iw = viewableAspectObj[param].iw;
	  		 	 	  var ih = viewableAspectObj[param].iw;
	  		 	  
	  		 	 %>
			  
				    <div class = "tool-tip" id = <%= id %> onclick = getProfileAspectInfo("<%=url%>") style = " cursor: pointer; text-align: center; display: inline-block; width: 20%;">
				    	  <img   width = <%= iw %> height = <%= ih %>  src= <%= img %> />  	  
				    	 
				    <!-- 	 <span class = "tool-tip-text">  <%= tooltip %> </span> -->
				    </div>  
				  	  
				  	  
				  	<!-- <div style = "text-align: center; display: inline-block; width: 33.333333%;">Reviews</div>
				  		<div style = "text-align: left;  display: inline-block; width: 33.333333%;">Fees, Payment</div>
				     -->
			 <% } } %>
	  	</nobr> 
	  	
	  	
  	  
	  	<div id="PROFILE_BACKGROUND_DISPLAY_ICON" style = "background-color: #696969; display: none; position: absolute; bottom: -28px;  right:0;  width: 34px;">   
		  		<img   width = "34" height = "28"  src="/media/images/icons/arrowhead-down-black.png" />	  		 
	  	</div>
 
 	
  </div>
    
  <div style=  "padding-left: 5px; padding-right: 5px;">	
  	  
	  <div id = PROFILE_TITLE style = "color: #696969; margin-top: 5px; text-align: center; margin-bottom: 20px; border: 0px solid red; font-size: 16px;">
	  		<b>Anjali Arora</b><br>
	  		Tech Lead, Information Technology & Services, Delhi NCR, India		  		
	  </div> 
	  <div>
		  <div class = "profile_aspect_title_bar profile-aspect-toggle-bar"  onClick = "showHideDownSibling($(this));">
					  <img  style = "margin-top: -2px; margin-right: 3px;" width = "19" height = "18" src="/media/images/icons/overview-summary-blk.png" />
					  		About
					   <img style = "float: right; margin-top: -4px; " width = "30" height = "30" src="/media/images/icons/arrow-Up-2lines.png" />
			   </div> 
				  
		  <div id = PROFILE_ASPECT_SUMMARY style = "text-align: justify; ">
			  	
			  	Anjali Arora focuses her practice on the procurement and enforcement of domestic and international patents, trademarks and copyrights. <br><br>
			  	Her experience includes various technical areas such as aerospace, hybrid and electrical engines, architecture and construction, medical devices, agriculture, food, and energy systems.
		  </div>
	  
	  </div>
	  
	  <div id = PROFILE_ASPECT_CONTAINER style = "border: 0px solid #f2f2f2; margin-top: 10px;"> <!-- aspect STACK -->
			
		   
		   
					  
					  
					  <!-- PIE CHART 
					  
					  <table  width = "100%" border = 1>					  
					  	<tr>
					  		<td width = "10%">
					  		</td>
					  		
					  		<td align = center>
					  			<div class="pie_chartss">
										<div class="pie" data-start="0" data-value="30"> </div>
										<div class="pie highlight" data-start="30" data-value="30"></div>
										<div class="pie" data-start="60" data-value="40"></div>
										<div class="pie big" data-start="100" data-value="260"></div>
										
									    <ul class="skilll" type="square" >
									      <li data-value="36" style="color:orange">Skill</li>
									      <li data-value="14" style="color:red">Experience</li>
									      <li data-value="8" style="color:green">Progress</li>
									      <li data-value="11" style="color:blue">Years</li>
									    
									    </ul>
  
								</div>
					  		</td>
					  		
					  		<td width = "10%">
					  		df
					  		</td>
					  		
					  	</tr>
					  </table>
					<!--  			Pie Chart Ends     				 --> 
				
		 </div>
		 
	</div>
		 
 <p>
 	&nbsp;
 </p>
 <p>
 	&nbsp;
 </p>
 
  
	  
	<script>  
	
			$('#PROFILE_BACKGROUND_HIDE_ICON').on('click', function() {
				$('#PROFILE_HEADER').hide();
				$('#PROFILE_BACKGROUND_DISPLAY_ICON').show();
			});	
			
			
			$('#PROFILE_BACKGROUND_DISPLAY_ICON').on('click', function() {
				$('#PROFILE_HEADER').show();
				$('#PROFILE_BACKGROUND_DISPLAY_ICON').hide();
			});
			
	  	  
			
			
			var aspectAdded = "";
			
			function getProfileAspectInfo(url) {
				//alert(url);  
				if(aspectAdded.indexOf(url) == -1) {
						var xhr = new XMLHttpRequest();
						
						xhr.onload = function() {  
							if(xhr.status === 200) { 
								console.log("Status  == 200");
								//$('#PROFILE_ASPECT_CONTAINER').html(xhr.responseText);
								$('#PROFILE_ASPECT_CONTAINER').append(xhr.responseText);
								
								
								
							}
							else {
								console.log("Status == " + xhr.status);  
							}
						}
						
						 xhr.open('GET',url, true);         
						 xhr.send(null);
						 
				 aspectAdded = 	aspectAdded + url; 	 
				}
				
			//	window.location.hash = '#PROFILE_EDUCATION';
			};
			
			
			
			
			
		 
			
			/*$('#PROFILE_HEADER').height(screen.height * .45);*/
				/*
				  var profileJsonData = [{
						                       "profile_header" : [{ "text" : "Worrying is misuse of imagination...",
						                                           	"font-size" : "20px",
						                                           "background-color" : "333",
						                                           "pic" : "444",
						                                           "profile_pic_position" : "left"  		//left, center or right
						                       						}
						                                          ],
						                       
						                       "profile_title" : "Software Developer.... :) ",
						                       
						                       "profile_summary" : "SummarySummary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary Summary" ,
						                       
						                       "profile_sections" : [{
						                    	   	
						                    	   
						                       					}]
				 					 } ];
				
				 */
		 
	</script>     