<% 
	var servicesJson = [
	
		{  'title' 		: 'Wallet',  
		   'col'		: '#fff',
		   'bg'		  	: '#2d5c93',	
		   'lineItems'	: [
		   		 { 'name' : 'Bal',
		   		   'value': '3400'
		   		 },
		   		 { 'name' : 'Bal',
		   		   'value': '3400'
		   		 }
		   ]
		},  
		
		{  'title' 		: 'Earning Opportunities',
		   'meta'		: '5',
		   'col'		: '#fff',
		   'bg'		  	: '#495e1e'	
		},  
		
		{  'title' 		: 'Offers, Promos',
		   'meta'  	 	: '5',
		   'col'		: '#fff',
		   'bg'		  	: '#383838'
		},  
		
		{  'title' 		: 'Todos123',
		   'meta'  	 	: '5',
		   'col'		: '#fff',
		   'bg'		  	: '#545454'  
		},
	 
		{  'title' 		: 'News',
		   'meta'		: '7+',
		   'col'		: '#fff',
		   'bg'		  	: '#7e7e7e'	
		},  
		
		{  'title' 		: 'Work Updates',
		   'meta'  	 	: '10+',
		   'col'		: '#fff',
		   'bg'		  	: '#4f8fdc'
		},  
		
		{  'title' 		: 'Events',
		   'meta'  	 	: '6+',
		   'col'		: '#fff',
		   'bg'		  	: '#0b1c36'  
		},
		
		  
		
		{  'title' 		: 'Health',
		   'meta'		: '5',
		   'col'		: '#fff',
		   'bg'		  	: '#aaaaaa'	
		},  
		
		{  'title' 		: 'Communiniques',
		   'meta'  	 	: '500+',
		   'col'		: '#fff',
		   'bg'		  	: '#102d59'
		},  
		
		{  'title' 		: 'Classifieds',
		   'meta'  	 	: '50',
		   'col'		: '#fff',
		   'bg'		  	: '#759533'  
		},
		
		{  'title' 		: 'Reccomendations',
		   'meta'  	 	: '30+',
		   'col'		: '#fff',
		   'bg'		  	: '#495e1e'
		},  
		
		{  'title' 		: 'Money',
		   'meta'  	 	: '100+',
		   'col'		: '#fff',
		   'bg'		  	: '#195464'  
		}   
		   
	];

%>



<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <script src="/lib/JQuery/jquery.1.9.1-min.js"></script> 
	    
	    <title>My App</title>	     
	  
	    <style>
	     	
	     	html, body {
	     		height: 100%;
	     		width: 100%;
	     		background-color: #fff;
				margin: 0px;
	     	}

	    	
	    	 @media screen and (max-width: 760px) { 
  	 			 
  	 			 #MAIN_CONTENT_CONTAINER 
  	 			 {
  	 				width : 100%;
  	 				min-height: 100%;
  	 				 
  	 			}
  	 			
                
                  .roundedRectSmall 
                  {
					margin-left : auto;
					margin-right : auto;
					width: 300px;
					border-radius: 4px;
					margin-top: 20px;
					height: 80px;
					text-align: center;                 
					} 
  		
  			}
  			
  			@media screen and (min-width: 761px) 
  			{ 
	  			 #MAIN_CONTENT_CONTAINER 
	  			 { 	    	 	
		    	 	min-height: 100%; 	 	
		    	    background-color: #fff;
		    	    position: relative;
	    	 	}
			 
			 
			  .drop-down-list
			  {
			  	width: 46.7%;
			  	display: inline-block;
				margin-top: 20px;
				height: 80px;
				text-align: center;
				border-radius: 4px;
				vertical-align: top;
			  }
			  
			  .drop-down-list:nth-child(odd) {
   				 margin-right: 1%;
   				 margin-left: 2%;
   				 
				}
				
			  .drop-down-list:nth-child(even) {
   				 margin-right: 2%;
   				 margin-left: 1%;
   				 
				} 
		}
		
		.drop-down-main
		{ 
				width:100%; 
				overflow-y: auto;
				z-index: 0;
				margin-left: auto;
				margin-right: auto; 
		} 
		
	</style>   
			  
	       
	</head>  

	<body> 
	    
	    <% include ./partials/top_menu_bar.ejs %> 
		
		<div id = MAIN_CONTENT_CONTAINER class = "website-screen-width_dt" style="margin-bottom: 50px;" >
			 <div class="drop-down-main"> 
			 
				 	<%
				 		 
			 			for(var i = 0; i < servicesJson.length; i++) {   
			 	  		   var jsonObj  = servicesJson[i]; 	 		  
				 		 	
				 	%>				 	     
				 		<div class="drop-down-list roundedRectSmall" style="position: relative; background-color:<%= jsonObj.bg %>; color:<%= jsonObj.col %>">   
				 			 <div style = "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				 				<b> <%= jsonObj.title %></b>	<br/>
				 			 	<% 
				 			 	  	if(jsonObj.meta) {			 			 	 	 			 	  
				 			 	%>			 			 		
				 			 	 		(<%= jsonObj.meta %>)<br/>		 			 	
				 			 	<%
				 			 	 	}
				 			 	 					 			 	 	
				 			 	 	if(jsonObj.lineItems) { 
				 			 	 	 	for(var j= 0; j < jsonObj.lineItems.length ; j++ ) {
				 			 	%>
				 			 			<%=  jsonObj.lineItems[i].name	%> : <%=  jsonObj.lineItems[i].value %> <br/>
				 			 	<%
				 			 		}
				 			 	  }
				 			 	%> 
				 			 		 
				 			 </div>   
				 		</div> 
				 	
				 	<% } %> 
			 	
				</div>
		 	
		</div>
		
		
		
	  <% include ./partials/footer_bar.ejs %> 
		
 </body>
 </html>