 	 
	<%
		var profileEducationDetails = [
				{
					"inst" : "Mumbai University",
					"univ" 		: "Mumbai University",
					"degree"	: "M.Tech",
					"subjs"		: "Physics, Chemistry, Maths",
					"start"		: "2001",
					"end" 		: "1999",
					"percent"	: "82%",
					"award"		: "/media/images/icons/award-white.png",
					"grade"		: "5",
					"trophy"	: "/media/images/icons/trophy-white-5050.png"  
				},	
				
				{
					"inst" : "REC Warangal",
					"univ" 		: "Karnataka University",
					"degree"	: "B.Tech",
					"subjs"		: "Physics, Chemistry, Maths",
					"start"		: "1995",
					"end" 		: "1999",
					"percent"	: "76%",
					"award"		: "/media/images/icons/award-white.png",
					"grade"		: "4",
					  
				},	
				
				{
					"inst" : "Guru Gobind H.S School",
					"univ" 		: "Punjab Board",
					"degree"	: "B.Tech",
					"subjs"		: "Physics, Chemistry, Maths",
					"start"		: "1995",
					"end" 		: "199",
					"percent"	: "76%",
					 
					  
				},	
				
				{
					"inst" : "REC Warangal",
					"univ" 		: "Karnataka University",
					"degree"	: "B.Tech",
					"subjs"		: "Physics, Chemistry, Maths",
					"start"		: "1995",
					"end" 		: "199",
					"percent"	: "76%",
					"award"		: "/media/images/icons/award-white.png",
					"grade"		: "4",
					"trophy"	: "/media/images/icons/trophy-white-5050.png"  
				}
		
		];
	
	
	
	%>		
			
	
	
	<link rel="stylesheet" type="text/css" href="/styles/profiles/profileAspects/education.css">
	
	 
	<div>				
			<div class = "profile_aspect_title_bar" onClick = "showHideDownSibling($(this));">
					
					 <img  style = "margin-top: -2px;" width = "22" height = "22" src="/media/images/icons/convocation_black.png" />
				 		 Education 
				 	 <img style = "float: right; margin-top: -4px;" width = "30" height = "30" src="/media/images/icons/arrowUpLines.png" />
			</div>		
								
	<!-- 		<div style = "padding-left: 5px; padding-right: 5px;  "> -->	
				
			<div align="center">	
				
				<% for(var i = 0; i < profileEducationDetails.length; i++ ) {
				
				 
					
					var eduObj =  profileEducationDetails[i];
				
				 %>
						<table class = "profile_asp_edu_tbl" border = 0>
								 <tr>
									  <!-- td width= 42 valign = top align = left >
										   <div style="margin-bottom:30px; color: #696969;"> <b>1995</b></div>
										   <b>&nbsp;&nbsp;&nbsp;-</b>
										   <div style="margin-top:30px; color: #696969;"><b>1999</b></div>
									  </td>                  
									  <td align= center width = 50>
											<img src="/media/images/icons/tmlne-wth-pnt-olive.PNG">
									  </td -->
									   
									  <td width = 160 align = center valign = top> 
											<div style="background-color:#696969; color: #dcdcdc; font-size: 12px; text-align: center; padding-top: 5px; width:150px; height: 50px; border-radius: 5px;">
												<b><%= eduObj.inst %><br/><%= eduObj.univ %></b>
											</div>
										<p></p>
										<center>
											<div>
												<b><span style="color: #696969;"><%= eduObj.degree %> </span> </b><br>
												<%= eduObj.subjs %>
												
											  </div>
											
											<div style="margin-bottom:30px; color: #696969;"> <b><%= eduObj.start %></b> - <b><%= eduObj.end %></b></div>
										</center>
									  </td>
						   
										<td width=80 valign = top align = right >
											<table>
												<tr>
													<td align = center width = 80>
														<div class="position">
															<span style="margin-top: 20px; font-size: 13px;"> <%= eduObj.percent %> </span>
														</div>
													</td>
												</tr>
												<tr>
													<td align = center width = 80>
													<% if(eduObj.award) { %>
														<div class="percent">
															<span style="">
																<img class="img_circle" src="/media/images/icons/award-white.png" width="20px" height="20px">
															</span>
														</div>
													<% } %>
													</td>
												</tr>
												<tr>
													<td align = center width = 80>
													<% if(eduObj.grade) { %>
														<div class="grade">
															<span style="margin-top:5px; margin-right:2px">
																<b><%= eduObj.grade %></b></span>
														</div>
													<% } %>
													</td>
												</tr>
												<tr>
													<td align = center width = 80>
													<% if(eduObj.trophy) { %>
														<div class="skill" style = "padding-top: 4px;">
															<span style="margin-left:2px">
																<img class="circles" src="/media/images/icons/trophy-white-5050.png" width="20px" height="20px"></span>
													   </div>
													  <% } %>
													</td>
												</tr>
											</table>
										 
										 </td>
									  
								  
									  
								 </tr>
		
							 </table>
				<% } %>	 

</div>
 

	<!-- 	</div> -->
</div>